fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
python-dotenv
alembic
streamlit
requests
Pillow
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langgraph
sentence-transformers
pypdf
langchain-chroma
wikipedia
duckduckgo-search
chromadb
torch
transformers
huggingface-hub
pymupdf